---
import AppIcon from "@/components/assets/AppIcon.astro";

const { class: className = "", ...rest } = Astro.props;
---

<span class:list={["inline-flex items-center gap-2", className]} {...rest}>
  <AppIcon
    alt=""
    width="24"
    height="24"
    class="size-6 shrink-0 rounded-[4px]"
  />
  <span>CampSoon</span>
</span>
